Learning PySpark

In [1]:
import pandas as pd
import pyspark

In [2]:
df = pd.read_csv('test_file.csv')
df

       name  roll
0  prakshat    85
1    pranay    86
2   pranshu    87

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test_file.csv')

In [18]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [19]:
df_pyspark.show()

+--------+----+
|     _c0| _c1|
+--------+----+
|    name|roll|
|prakshat|  85|
|  pranay|  86|
| pranshu|  87|
+--------+----+

In [21]:
df_pyspark = spark.read.option('header','true').csv('test_file.csv')

In [22]:
df_pyspark

DataFrame[name: string, roll: string]

In [24]:
df_pyspark.show()

+--------+----+
|    name|roll|
+--------+----+
|prakshat|  85|
|  pranay|  86|
| pranshu|  87|
+--------+----+

In [25]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.columns

['name', 'roll']

In [27]:
df_pyspark.head()

Row(name='prakshat', roll='85')

In [28]:
df_pyspark.head(3)

[Row(name='prakshat', roll='85'),
 Row(name='pranay', roll='86'),
 Row(name='pranshu', roll='87')]

In [30]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- roll: string (nullable = true)